/*
 * @Author: cbsjz 
 * @Date: 2020-07-10 20:41:26 
 * @Last Modified by:   cbsjz 
 * @Last Modified time: 2020-07-10 20:41:26 
 */

/* header */
.header {
	position: absolute;
	top: 25px;
	right: 50px;
}

.header ul {
	/*border: 1px solid #000;*/
	display: flex;
	list-style: none;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.header li {
	padding: 8px 12px;
}

.header li a {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

.nav-svg {
	position: absolute;
}
