* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica, "PingFang SC", "Microsoft Yahei", sans-serif;
	font-size: 14px;
}

/* main */
main {
	width: 100vw;
	height: 100vh;
	/*background-image: url(img/bg1.jpg);*/
	background-size: 100%;
}

.kanban {
	/*border: 1px solid #000;*/
	position: absolute;
	top: 12vh;
	right: 3.5vw;
	width: 60vw;
	background-color: rgba(0, 128, 255, 0.1);
	height: 80vh;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	overflow: auto;
}

.kanban div {
	display: flex;
	/*justify-content: space-evenly;*/
	/*align-items: center;*/
	flex-wrap: wrap;
}

.kanban article {
	width: 260px;
	height: 160px;
	margin: 10px;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 5px 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.info {
	display: inline-block;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 12vh;
	left: 10vw;
}
